.peniel {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.peniel-banner {
  height: 15rem;
  background: url(https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg?cs=srgb&dl=pexels-pixabay-461940.jpg&fm=jpg);
  width: 100%;
  background-position: cover;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: $white;
  text-transform: capitalize;

  h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
  }
}

/* RESPONSIVE */

@media (max-width: 64em) {
  .peniel-banner {
    font-size: 1.8rem;
    height: 10rem;
  }
}

@media (max-width: 48em) {
  .peniel-banner {
    font-size: 1.5rem;
    height: 8rem;
  }
}

@media (max-width: 40em) {
  .peniel-banner {
    font-size: 1.2rem;
  }
}
